.mediaViewInfo {
  --web-view-name: About;
  --web-view-id: About;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: About;
}
* {
  margin: 0;
  padding: 0;
}

.E-about-wrap {
  width: 100%;
  /* min-height: 500px; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.E-about-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
#About {
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-50%);
  left: 50%;
  background: #E5E5E5;
  width: 1920px;
  height: 3780px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  margin: 0;
  padding: 0;
  --web-view-name: About;
  --web-view-id: About;
  --web-enable-scale-up: true;
  --web-center-horizontally: true;
  --web-enable-deep-linking: true;
}
.Rectangle_64 {
  position: absolute;
  overflow: visible;
  width: 2382px;
  height: 1053px;
  left: -244px;
  top: 2130px;
}
.Rectangle_65 {
  position: absolute;
  overflow: visible;
  width: 2382px;
  height: 733px;
  left: -244px;
  top: 3181px;
}
.Rectangle_30 {
  position: absolute;
  overflow: visible;
  width: 2421px;
  height: 1082px;
  left: -283px;
  top: 0px;
  transform: rotate(180deg);
  /* transform-origin: left; */
}
#HAVE___FUN {
  position: absolute;
  left: 0px;
  top: 2818px;
  overflow: hidden;
  width: 1921px;
  height: 363px;
  text-align: center;
  line-height: 1.12;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(255,255,255,1);
}
#ELEMENTS {
  position: absolute;
  left: 0px;
  top: 1941px;
  overflow: hidden;
  width: 1921px;
  height: 363px;
  text-align: center;
  font-family: 'Hatton';
  font-style: normal;
  line-height: 1.12;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(0,0,0,1);
}
#Entropy_is_a_interactive_specu {
  position: absolute;
  left: 554px;
  top: 1526.831px;
  overflow: hidden;
  width: 813px;
  height: 142px;
  line-height: 24px;
  margin-top: -3px;
  text-align: center;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#ENTROPY_ {
  position: absolute;
  left: 0px;
  top: 906.366px;
  overflow: hidden;
  width: 1921px;
  height: 364px;
  text-align: center;
  line-height: 1.12;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(0,0,0,1);
}
#WHAT {
  position: absolute;
  left: 2px;
  top: 0px;
  overflow: hidden;
  line-height: 1.12;
  width: 1401px;
  height: 359px;
  text-align: left;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(255,255,255,1);
}
#IS {
  position: absolute;
  left: 1344px;
  top: 0px;
  overflow: hidden;
  width: 577px;
  height: 718px;
  text-align: right;
  line-height: 1.12;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(255,255,255,1);
}
#Group_1 {
  position: absolute;
  width: 1080px;
  height: 608px;
  left: 420px;
  top: 237px;
  overflow: visible;
}
.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 1080px;
  height: 608px;
  left: 0px;
  top: 0px;
}
#en_tro_py___entr_p____the_traj {
  position: absolute;
  left: 968px;
  top: 1925.295px;
  overflow: hidden;
  width: 807px;
  height: 23.409px;
  text-align: right;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0,0,0,1);
}
#Entropy_is_a_fictional_digital_about {
  position: absolute;
  left: 416px;
  /* bottom: 0; */
  top: 3676px;
  overflow: hidden;
  width: 1089px;
  height: 104px;
  line-height: 20px;
  margin-top: -3px;
  text-align: center;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
}
.Rectangle_60 {
  position: absolute;
  overflow: visible;
  width: 256px;
  height: 256px;
  left: 282px;
  top: 2295px;
}
#Group_21 {
  position: absolute;
  width: 800px;
  height: 256px;
  left: 559px;
  top: 2295px;
  overflow: visible;
}
.Rectangle_59 {
  position: absolute;
  overflow: visible;
  width: 800px;
  height: 256px;
  left: 0px;
  top: 0px;
}
#Timeline___The_timeline_begins {
  position: absolute;
  left: 134px;
  top: 56px;
  overflow: hidden;
  width: 533px;
  height: 136px;
  text-align: left;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Group_22 {
  position: absolute;
  width: 806px;
  height: 256px;
  left: 419px;
  top: 2529.5px;
  overflow: visible;
}
.Rectangle_47 {
  position: absolute;
  overflow: visible;
  width: 806px;
  height: 256px;
  left: 0px;
  top: 0px;
}
#Viewport___The_viewport_on_the {
  position: absolute;
  left: 136px;
  top: 84.5px;
  overflow: hidden;
  width: 533px;
  height: 87px;
  text-align: left;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(255,255,255,1);
}
.Rectangle_62 {
  position: absolute;
  overflow: visible;
  width: 256px;
  height: 256px;
  left: 1243px;
  top: 2529.5px;
}
#Group_16 {
  position: absolute;
  width: 808px;
  height: 256px;
  left: 830px;
  top: 2763px;
  overflow: visible;
}
.Rectangle_57 {
  position: absolute;
  overflow: visible;
  width: 808px;
  height: 256px;
  left: 0px;
  top: 0px;
}
#Badges___Badges_are_achieved_a {
  position: absolute;
  left: 137px;
  top: 69px;
  overflow: hidden;
  width: 551px;
  height: 118px;
  text-align: left;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
.Rectangle_58 {
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  width: 256px;
  height: 256px;
  left: 558px;
  top: 2763px;
}