.App {
    /*padding-top: 20vh;*/
    justify-content: start;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;

    /*background-color: darkred;*/
}

.badge-style-cat0 {
    color: red;
}
.badge-style-cat1 {
    color: blue;
}
.badge-style-cat2 {
    color: green;
}
.badge-style-cat3 {
    color: orange;
}
.badge-style-cat4 {
    color: brown;
}
.badge-style-cat5 {
    color: yellow;
}
.badge-style-cat6 {
    color: pink;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.E-body {
    /*background-color: #61dafb;*/
    height: 100%;
    /*margin: 0;*/

}

.E-content {
    /*background-color: yellow;*/
    margin-top: 200px;
    height: 300px;
    overflow-x: auto;
}

.E-badge-component-style {
    background-color: pink;
    text-align: center;
    height: 400px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 10px 20px 20% 20px;
}

.E-scrollable {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.answer-box {
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
    font-family: 'Lexend Giga', monospace;
    text-transform: uppercase;
    font-size: 7pt;
    cursor: pointer;
}

.answer-box:hover {
    background: dimgray;
}

.E-antiscrolling {
    overflow: hidden;
}