
.mediaViewInfo {
  --web-view-name: Contact;
  --web-view-id: Contact;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Contact;
}
@font-face {
  font-family: 'Hatton';
  src: url('fonts/Hatton-Ultralight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.E-contact-wrap {
  width: 100%;
  /* min-height: 500px; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.E-contact-content {
  width: 2560px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
#Contact {
  /* transform: scale(.843) ; */
  /* transform: scale(.5) ; */
  /* transform-origin: 0 0; */
  position: absolute;
  box-sizing: border-box;
  background: #E5E5E5;
  width: 2560px;
  height: 2160px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  margin: 0;
  padding: 0;
  --web-view-name: Contact;
  --web-view-id: Contact;
  --web-enable-deep-linking: true;
}
.Rectangle_40 {
  position: absolute;
  overflow: visible;
  width: 2560px;
  height: 1436px;
  left: 0px;
  top: 0px;
  transform: rotate(180deg);
  /* transform-origin: left; */
}
#GET {
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: hidden;
  width: 2067px;
  height: 569px;
  text-align: left;
  line-height: 1.12;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 540px;
  color: rgba(255,255,255,1);
}
#IN {
  position: absolute;
  left: 1479px;
  top: 13px;
  overflow: hidden;
  width: 1082px;
  height: 527px;
  line-height: 1.12;
  text-align: right;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 540px;
  color: rgba(255,255,255,1);
}
#CONTACT {
  position: absolute;
  left: 0px;
  top: 939.009px;
  overflow: hidden;
  width: 2561px;
  line-height: 1.12;
  height: 447px;
  text-align: center;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 540px;
  color: rgba(0,0,0,1);
}
#Group_52 {
  position: absolute;
  width: 1321px;
  height: 366px;
  left: 524px;
  top: 348px;
  overflow: visible;
}
.ID26195729_583036962051449_801 {
  position: absolute;
  overflow: visible;
  width: 366px;
  height: 366px;
  left: 0px;
  top: 0px;
}
#Group_51 {
  position: absolute;
  width: 939px;
  height: 366px;
  left: 382px;
  top: 0px;
  overflow: visible;
}
.Rectangle_53 {
  position: absolute;
  overflow: visible;
  width: 939px;
  height: 366px;
  left: 0px;
  top: 0px;
}
#Group_50 {
  position: absolute;
  width: 557.5px;
  height: 81px;
  left: 190.5px;
  top: 146px;
  overflow: visible;
}
#Tien_Vu {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 537px;
  white-space: nowrap;
  text-align: left;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: rgba(0,0,0,1);
}
.contact-link-style {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0,0,0,1);
}
#Website___Behance___Instagram {
  position: absolute;
  left: 159px;
  top: 46.592px;
  overflow: hidden;
  width: 399px;
  height: 27px;
  text-align: right;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0,0,0,1);
}
#Designer {
  position: absolute;
  left: 0px;
  top: 47px;
  overflow: hidden;
  width: 301px;
  height: 34px;
  text-align: left;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0,0,0,1);
}
.Line_1 {
  overflow: visible;
  position: absolute;
  top: 41.114px;
  left: 0.5px;
  width: 557px;
  height: 2px;
}
.Rectangle_51 {
  position: absolute;
  overflow: visible;
  width: 366px;
  height: 366px;
  left: 1670px;
  top: 714px;
}
#Group_53 {
  position: absolute;
  width: 939px;
  height: 366px;
  left: 715px;
  top: 714px;
  overflow: visible;
}
.Rectangle_48 {
  position: absolute;
  overflow: visible;
  width: 939px;
  height: 366px;
  left: 0px;
  top: 0px;
}
#Danny_Tran {
  position: absolute;
  left: 191px;
  top: 141px;
  overflow: visible;
  width: 537px;
  white-space: nowrap;
  text-align: left;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: rgba(255,255,255,1);
}
#Website___Behance___Instagram_A1_Text_8 {
  position: absolute;
  left: 350px;
  top: 194px;
  overflow: hidden;
  width: 399px;
  height: 27px;
  text-align: right;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255,255,255,1);
}
#Designer_A1_Text_9 {
  position: absolute;
  left: 191px;
  top: 193.592px;
  overflow: hidden;
  width: 301px;
  height: 34px;
  text-align: left;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255,255,255,1);
}
.Line_2 {
  overflow: visible;
  position: absolute;
  top: 183.801px;
  left: 191.5px;
  width: 556px;
  height: 2px;
}
#Entropy_is_a_fictional_digital {
  position: absolute;
  left: 140px;
  top: 2056px;
  overflow: hidden;
  width: 2281px;
  height: 104px;
  line-height: 20px;
  margin-top: -2px;
  text-align: center;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0,0,0,1);
}