
.mediaViewInfo {
  --web-view-name: Contact;
  --web-view-id: Contact;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Contact;
}
@font-face {
  font-family: 'Hatton';
  src: url('fonts/Hatton-Ultralight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.E-contact-wrap {
  width: 100%;
  /* min-height: 500px; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.E-contact-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}
#Contact {
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-50%);
  left: 50%;
  background: #E5E5E5;
  width: 1920px;
  height: 2160px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  margin: 0;
  padding: 0;
  --web-view-name: Contact;
  --web-view-id: Contact;
  --web-enable-scale-up: true;
  --web-center-horizontally: true;
  --web-enable-deep-linking: true;
}
.Rectangle_40 {
  position: absolute;
  overflow: visible;
  width: 2357px;
  height: 1080px;
  left: -218px;
  top: 0px;
  transform: rotate(180deg);
  /* transform-origin: left; */
}
#GET {
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: hidden;
  width: 815px;
  height: 368px;
  text-align: left;
  line-height: 1.12;
  font-family: 'Hatton';
  font-style: normal;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(255,255,255,1);
}
#IN {
  position: absolute;
  left: 1549px;
  top: 13px;
  overflow: hidden;
  width: 372px;
  height: 388px;
  text-align: right;
  font-family: 'Hatton';
  line-height: 1.12;
  font-style: normal;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(255,255,255,1);
}
#CONTACT {
  position: absolute;
  left: 0px;
  top: 889px;
  overflow: hidden;
  width: 1921px;
  height: 382px;
  text-align: center;
  font-family: 'Hatton';
  line-height: 1.12;
  font-style: normal;
  font-weight: lighter;
  font-size: 400px;
  color: rgba(0,0,0,1);
}
.ID26195729_583036962051449_801 {
  position: absolute;
  overflow: visible;
  width: 260px;
  height: 260px;
  left: 416px;
  top: 239px;
}
#Group_18 {
  position: absolute;
  width: 674px;
  height: 260px;
  left: 692px;
  top: 239px;
  overflow: visible;
}
.Rectangle_53 {
  position: absolute;
  overflow: visible;
  width: 674px;
  height: 260px;
  left: 0px;
  top: 0px;
}
#Group_17 {
  position: absolute;
  width: 398px;
  height: 48.364px;
  left: 138px;
  top: 105.818px;
  overflow: visible;
}
#Tien_Vu {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 381px;
  white-space: nowrap;
  text-align: left;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Website___Behance___Instagram {
  position: absolute;
  left: 130.955px;
  top: 31.025px;
  overflow: hidden;
  line-height: 1.12;
  width: 267.633px;
  height: 17.339px;
  text-align: right;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0,0,0,1);
}
#Designer {
  position: absolute;
  left: 0px;
  top: 31.361px;
  overflow: hidden;
  /* width: 248.086px; */
  height: 17.003px;
  line-height: 1.12;
  text-align: left;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0,0,0,1);
}
.Line_1 {
  overflow: visible;
  position: absolute;
  top: 26.513px;
  left: 0.412px;
  width: 397.588px;
  height: 2px;
}
#Group_20 {
  position: absolute;
  width: 674px;
  height: 260px;
  left: 554px;
  top: 499px;
  overflow: visible;
}
.Rectangle_48 {
  position: absolute;
  overflow: visible;
  width: 674px;
  height: 260px;
  left: 0px;
  top: 0px;
}
#Group_19 {
  position: absolute;
  width: 398px;
  height: 48.364px;
  left: 138px;
  top: 105.818px;
  overflow: visible;
}
#Danny_Tran {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 381px;
  white-space: nowrap;
  text-align: left;
  font-family: 'MarsExtended';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(255,255,255,1);
}
#Website___Behance___Instagram_A1_Text_8 {
  position: absolute;
  left: 130.955px;
  top: 31.025px;
  overflow: hidden;
  line-height: 1.12;
  width: 267.633px;
  height: 17.339px;
  text-align: right;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255,255,255,1);
}
#Developer {
  position: absolute;
  left: 0px;
  top: 31.361px;
  overflow: hidden;
  /* width: 248.086px; */
  height: 17.003px;
  text-align: left;
  font-family: 'SpaceMono';
  font-style: normal;
  line-height: 1.12;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255,255,255,1);
}
.Line_3 {
  overflow: visible;
  position: absolute;
  top: 26.513px;
  left: 0.412px;
  width: 397.588px;
  height: 2px;
}
.Rectangle_51 {
  position: absolute;
  overflow: visible;
  width: 260px;
  height: 260px;
  left: 1244px;
  top: 499px;
}
#Entropy_is_a_fictional_digital_contact {
  position: absolute;
  left: 416px;
  top: 2056px;
  overflow: hidden;
  width: 1089px;
  height: 104px;
  line-height: 20px;
  margin-top: -3px;
  text-align: center;
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0,0,0,1);
}